<div class="container-new">
  <div class="gridiron-logo">
    <img src="../assets/GridironLogo.png" alt="GridironLogo" />
  </div>

  <div class="avatar">
    <img *ngIf="user" src="{{'/assets/ProfilePics/' + user?.profilePic + '.png'}}" alt="Avatar" class="avatar-image" (click)="dropdown()"/>
      <!-- Dropdown menu -->
    <div *ngIf="avatarDropdown" class="z-10 text-base list-none bg-white divide-y divide-gray-100 rounded shadow w-44 dark:bg-gray-700 avatar-dropdown">
      <ul class="py-1">
        <li>
          <a class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Dashboard</a>
        </li>
        <li>
          <a class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Settings</a>
        </li>
        <li>
          <a class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Earnings</a>
        </li>
        <li>
          <a class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white" (click)="logOut()">Sign out</a>
        </li>
      </ul>
    </div>
  </div>


  <div class="home-helmet">
    <img
      class="helmet-img"
      src="../assets/TeamHelmets/helmet2.png"
      alt="HomeTeamHelmet"
    />
  </div>

  <div class="away-helmet">
    <img
      class="helmet-img"
      src="../assets/TeamHelmets/PatriotsHelmet.png"
      alt="AwayTeamHelmet"
    />
  </div>

  <div class="vote-home">
    <button class="bg-transparent hover:bg-white text-white font-semibold hover:text-[#120f28] py-2 px-4 border border-white-500 hover:border-transparent rounded" (click)="vote('home')" *ngIf="!votedHome">
      Vote
    </button>
    <button class="bg-green-700 hover:bg-white text-white font-semibold hover:text-[#120f28] py-2 px-4 border border-white-500 hover:border-transparent rounded" *ngIf="votedHome">
      Voted
    </button>
  </div>

  <div class="vote-away">
    <button class="bg-transparent hover:bg-white text-white font-semibold hover:text-[#120f28] py-2 px-4 border border-white-500 hover:border-transparent rounded" (click)="vote('away')" *ngIf="!votedAway">
      Vote
    </button>
    <button class="bg-green-700 hover:bg-white text-white font-semibold hover:text-[#120f28] py-2 px-4 border border-white-500 hover:border-transparent rounded" *ngIf="votedAway">
      Voted
    </button>
  </div>
</div>
