<div class="container-new">
  <div class="gridiron-logo">
    <img src="../assets/GridironLogo.png" alt="GridironLogo" />
  </div>

  <div class="avatar">
    <img *ngIf="user" src="{{'/assets/ProfilePics/' + user?.profilePic + '.png'}}" alt="Avatar" class="avatar-image" (click)="dropdown()"/>
      <!-- Dropdown menu -->
    <div *ngIf="avatarDropdown" class="z-10 w-44 text-base list-none bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 avatar-dropdown">
      <ul class="py-1">
        <li>
          <a class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Dashboard</a>
        </li>
        <li>
          <a class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Settings</a>
        </li>
        <li>
          <a class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Earnings</a>
        </li>
        <li>
          <a class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white" (click)="logOut()">Sign out</a>
        </li>
      </ul>
    </div>
  </div>


  <div class="home-helmet">
    <img
      class="helmet-img"
      src="../assets/TeamHelmets/GiantsHelmet.png"
      alt="HomeTeamHelmet"
    />
  </div>

  <div class="away-helmet">
    <img
      class="helmet-img"
      src="../assets/TeamHelmets/PatriotsHelmet.png"
      alt="AwayTeamHelmet"
    />
  </div>

  <div class="home-stats">
    <p>Record:</p>
    <p>Offensive Rank:</p>
    <p>Defensive Rank:</p>
  </div>

  <div class="away-stats">
    <p>Record:</p>
    <p>Offensive Rank:</p>
    <p>Defensive Rank:</p>
  </div>
</div>
